.body {
    background: rgb(180,116,58);
    background: linear-gradient(172deg, rgba(180,116,58,0.531322505800464) 13%, rgba(253,169,29,1) 44%, rgba(235,236,2,1) 82%);
}

.icon {    
    width:7vw;
    height: 7vh;  
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

.image {
    margin-top: 10px;
    margin-bottom: 10px;
    width:20%;
    height:20%;
}



.div h2 {
    font-weight: bold;
    font-size: 150px;
}


